<div class="comment-form">
  <div class="user-info">
    <ion-avatar>
      <img src="assets/avatar/default-avatar.png" alt="User avatar" />
    </ion-avatar>
    <div class="user-meta">
      <div class="username">Usuario</div>
      <div class="user-rating">
        ★★★★★
      </div>
    </div>

    <ion-button size="small" class="publish-button">Publicar</ion-button>
    <ion-button size="small" class="publish-button">Modificar Puntuacion</ion-button>
  </div>

  <ion-textarea
    class="comment-input"
    placeholder="Escribe un comentario..."
    auto-grow="true">
  </ion-textarea>
</div>