<div class = "album-info-box">
  <div class = "info-row">
    <span class = "info-label">Fecha salida</span>
    <span class = "info-value">05/03/2013</span>
  </div>

  <div class = "info-row">
    <span class="info-label">Duracion</span>
    <span class="info-value">03:52</span>
  </div>

   <div class="info-row">
    <span class="info-label">Generos</span>
    <span class="info-value genres">
      <a href="#">Cumbia</a>, <a href="#">Reggae</a>
    </span>
  </div>

  <div class="info-row">
    <span class="info-label">Tipo</span>
    <span class="info-value">Sencillo</span>
  </div>

</div>