<app-header></app-header>

<ion-content fullscreen = "true">

  <!--Cabecera Cancion-->
  <div class = "song-page">
    <app-song-header></app-song-header>
    <app-album-rating></app-album-rating>
  </div>

  <div class = "content-wrapper">
    <div class = "left-column">
      
      <app-song-info-box></app-song-info-box>
      
      <div class = "bottom-block">
        <div class = "comment-background"></div>
      </div>

    </div>

    <div class = "right-column">
      <app-comment-form></app-comment-form>
      <div class = "comments-wrapper">
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
        <app-comment-item></app-comment-item>
      </div>
    </div>
  </div>





</ion-content>


<app-footer></app-footer>