<div class = "album-rating-card">
  <div class = "user-rating-summary">
    <p class = "rating-title">Puntuacion Usuarios (4 opiniones)</p>
    <div class = "rating-value">
        <span class = "score">5.0</span>
        <span class = "stars">★★★★★</span>
    </div>
  </div>

  <div class = "user-personal-rating">
    <p class = "rating-title">Tu Puntuacion</p>
    <div class = "rating-value">
      <span class="score">4.5</span>
      <span class="stars">★★★★½</span>
    </div>
  </div>
</div>