.song-header{
    display:flex;
    border-radius: 12px;
    padding: 12px;
    gap: 2rem;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.song-cover img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.song-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.8rem;
}

.song-title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.artist-name{
    font-size: 1.2rem;
    font-weight: 400;
    margin: -0.5rem 0 1rem 0;
}