<h2 class="section-title">Discusiones más populares</h2>
<div class="discussions">
  <div class="discussion-card">
    <img src="assets/metalhumor.jpg" />
    <div>
      <h3>Metal Humor</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      <ion-button size="small" color="tertiary">Entrar</ion-button>
    </div>
  </div>

  <div class="discussion-card">
    <!-- <img src="assets/stealthisalbum.jpg" /> -->
    <div>
      <h3>Steal this album!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      <ion-button size="small" color="tertiary">Entrar</ion-button>
    </div>
  </div>
</div>
