<h2 class="section-title">Discusiones más populares</h2>
<div class="discussions">
  <div class="discussion-card">
    <img src="assets/albums/album4.jpg" />
    <div>
      <h3>Mortal Kumbiatr</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      <ion-button size="small" color="tertiary">Entrar</ion-button>
    </div>
  </div>

  <div class="discussion-card">
     <img src="assets/albums/album2.jpg" />
    <div>
      <h3>Steal this album!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      <ion-button size="small" color="tertiary">Entrar</ion-button>
    </div>
  </div>
</div>
