.secondary-nav{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 0.75rem 0;
    
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    .nav-item{
        margin: 0 1.5rem;
        color: #ffffff;
        font-size: 0.95rem;
        font-weight: 500;
        position: relative;
        text-decoration: none;
        cursor: pointer;

        &:hover{
            opacity: 25%;
        }

        &.active::after{
            content: '';
            position: absolute;
            bottom: -0.25rem;
            left: 0;
            right: 0;
            height: 3px;
            background-color: var(--ion-color-secondary);
            border-radius: 2px;
        }
    }
}