<div class="forgot-password-wrapper">
  <div class="forgot-password-card">
    <div class="forgot-password-header">
      <img src="assets/logos/logo-loom.png" alt="Logo Loom" />
      <h1>¿Se te olvido la contraseña?</h1>
    </div>

    <p class="subtitle">
      Ingresa tu correo abajo y se te enviará un link para resetear tu contraseña
    </p>

    <form>
      <ion-item>
        <ion-label position="floating">Ingrese tu correo</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-button expand="block" class="confirm-btn" (click) = "goToMenu()">
        Confirmar
      </ion-button>
    </form>
  </div>
</div>
