.banner-wrapper{
  background: #333333;
  padding: 1rem 0;
  overflow: hidden;

  .carousel{
    position: relative;
    height: 600px;  //Tamaño de las imagenes
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      position: absolute;
      width: 60%;
      max-width: 600px;
      height: auto;
      opacity: 0;
      transition: 
        transform 0.6s ease,
        opacity 0.6s ease;
        border-radius: 8px;
        object-fit: cover;
    }

    img.active{
      opacity: 1;
      transform: translateX(0) scale(1);
      z-index: 3;
    }

    img.prev{
      opacity: 0.5;
      transform: translateX(-120%) scale(0.8);
      z-index: 2;
    }

    img.next{
      opacity: 0.5;
      transform: translateX(120%) scale(0.8);
      z-index: 2;
    }
  }
}

@media (max-width: 600px){
  .banner-wrapper .carousel img{
    width: 80%;
  }
}