<div class="album-header">
  <div class="album-cover">
    <img src="assets/albums/album4.jpg" alt="Mortal Kumbiat Cover" />
  </div>
  <div class="album-info">
    <h1 class="album-title">Mortal Kumbiat</h1>
    <h2 class="artist-name">Leo Rey</h2>

    <ion-button expand="block" class="action-button">Añadir a favoritos</ion-button>
    <ion-button expand="block" class="action-button">Compartir</ion-button>

    <div class="music-links">
      <ion-button size="small" class="platform-button">Escuchar en Spotify</ion-button>
      <ion-button size="small" class="platform-button">Escuchar en Amazon</ion-button>
      <ion-button size="small" class="platform-button">Escuchar en Apple Music</ion-button>
      <ion-button size="small" class="platform-button">Comprar</ion-button>
    </div>
  </div>
</div>