<div class="artist-links">
  <!-- Contenedor para los botones de plataformas -->
  <div class="platform-buttons">
    <a href="https://open.spotify.com" target="_blank" class="platform-button">Escuchar en Spotify</a>
    <a href="https://music.amazon.com" target="_blank" class="platform-button">Escuchar en Amazon</a>
    <a href="https://music.apple.com" target="_blank" class="platform-button">Escuchar en Apple Music</a>
  </div>
  <!-- Botón de Discografía debajo -->
  <button class="disc-button" (click)="verDiscografia()">Discografía</button>
</div>